
<div class="col-lg-12">

    <div class="row calendarRow">
        <div class="col-lg-3 caledarData">
            01/13/2019 06:00 am
           </div>
           <div class="col-lg-3 caledarData">
               Seafood Sales Begins
           </div>
           <div class="col-lg-5 caledarData">
                  
           </div>
     </div>

        <div class="row calendarRow">
            <div class="col-lg-3 caledarData">
                01/14/2019 06:00 pm
               </div>
               <div class="col-lg-3 caledarData">
                   Board Meeting
               </div>
               <div class="col-lg-5 caledarData">
                       Solon Public Library
               </div>
         </div>
           
         <div class="row calendarRow">
            <div class="col-lg-3 caledarData">
                01/27/2019  12:30 registration
               </div>
               <div class="col-lg-3 caledarData">
                   Tri-Star Basketball
               </div>
               <div class="col-lg-5 caledarData">
                       Solon Community Center Gym
               </div>
         </div>
                
        <div class="row calendarRow">
            <div class="col-lg-3 caledarData">
             02/12/2018 06:00 pm
            </div>
            <div class="col-lg-3 caledarData">
                Board Meeting
            </div>
            <div class="col-lg-5 caledarData">
                    Solon Public Library
            </div>
        </div>
    

        
     </div>